# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore configuration files with secrets
config.ini
secrets.json

# Ignore pytest cache
.pytest_cache/

# Ignore VS Code settings
.vscode/