/static/BerkeleyMono-Bold.woff
/static/BerkeleyMono-Bold.woff2
/static/BerkeleyMono-Regular.woff
/static/BerkeleyMono-Regular.woff2
/portfolio-breakdown.tar
/portfolio_analyzer.log
/.venv/
/.idea/
/securities_cache.db
